.header {
  display: flex;
  margin-top: 250px;
  height: 400px;
  background-color: yellowgreen;
  width: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/brick-wall-dark.png");
}

@media only screen and (max-width: 1023px) {
  .header {
    margin-top: 0;
    height: 480px;
    padding-top: 120px;
    width: 100%;
  }
}