nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: #4055A1;
  height: 120px;
  color: #FFFFFF;
  align-items: flex-end;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 40px;
}

#words {
  display: flex;
  margin-right: 1.5em;
  margin-bottom: 0.3em;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color:red;
}