#new-tweet {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.error {
  display: flex;
  align-items: center;
  color: #D8000C;
	background-color: #FFBABA;
}

#error-message {
  margin-left: 15px;
}

#new-tweet label {
  font-weight: 600;
}

#tweet-text {
  background-color: #f4f1ec;
  border-width: 0 0 4px 0;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4055a1;
  font-family: 'Bungee', cursive;
  color: white;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  box-shadow: 2.5px 2.5px 2.5px 2.5px #b7c2f2;
}

.counter {
  margin-right: 10px;
  font-family: 'Bungee', cursive;
}

#negative {
  color: red;
}
